.contact_us {
  padding: 200px 30px;
  .text {
    font-size: 15px;
    padding: 20px 0;
    width: 40%;
    line-height: 25px;
    font-family: "Mulish", sans-serif;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    .left {
      width: 100%;
      form {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding-bottom: 30px;
        input,
        textarea {
          padding: 15px;
          font-size: 16px;
          border-radius: 8px;
          margin: 0 0 20px 0;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
    .right_map {
      padding-left: 30px;
      iframe {
        border-radius: 13px;
        @media screen and (max-width: 1070px) {
          width: 500px;
        }
        @media screen and (max-width: 800px) {
          width: 85vw;
          height: 350px;
        }
        @media screen and (max-width: 425px) {
          width: 80vw;
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .contact_us {
    padding: 50px 30px;
    .text {
      width: 100%;
    }
    .contact {
      display: block;

      .right_map {
        padding-left: 0px;
        .map {
          iframe {
            width: 90vw;
          }
        }
      }
    }
  }
}
